@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

#root {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background-image: url('./assets/magic_colors.png');
  background-size: contain;
  background-position-y: 130%;
  background-size: 85%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-color: black;

}

.container {
  max-width: 1100px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header h1 {
  font-size: 3.5em;
  text-align: center;
  font-weight: 400;
  color: white;
  margin-top: 40px;
}

.header .intro {
  font-size: 1.5em;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* INTRODUCTION */

.introduction {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 1.5em;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 250px;
}

.buttons button {
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.buttons button:hover {
  transform: scale(1.1);
}

.redBorder {
  border: 2px solid red;
}

.greenBorder {
  border: 2px solid green;
}

.blueBorder {
  border: 2px solid blue;
}

/* END */

.end {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 15px;
}

.end button {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  border: none;
}

.end button:hover {
  transform: scale(1.1);
}